@font-face {
  font-family: Font;
  src: url(/assets/fonts/vazir-font-v18.0.0/Vazir-Bold.eot) format("eot"), url(/assets/fonts/vazir-font-v18.0.0/Vazir-Bold.woff) format("woff"), url(/assets/fonts/vazir-font-v18.0.0/Vazir-Bold.ttf) format("ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Font;
  background-color: #959D90;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 90%;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #959D90;
}

/* Start Header */
header {
  width: 100%;
  height: 100vh;
  background-image: url(/assets/images/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}
header > .header-overlay {
  width: 100%;
  height: 100%;
}
header > .header-overlay > .header-desc {
  width: 50%;
  height: 20vh;
  margin: 300px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: #fff;
}
header > .header-overlay > .header-desc > p {
  transition: 4s;
}
header > .header-overlay > .menu {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
header > .header-overlay > .menu > ul {
  height: 100%;
  min-width: 50px;
  display: flex;
}
header > .header-overlay > .menu > ul > li {
  transition: 0.7s;
}
header > .header-overlay > .menu > ul > li:hover {
  background-color: white;
}
header > .header-overlay > .menu > ul > li > a {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: white;
  transition: 0.7s;
}
header > .header-overlay > .menu > ul > li > a:hover {
  color: black;
}

/* Start DropDown */
.dropDown {
  width: 100%;
  background-color: white;
  height: auto;
  overflow: hidden;
  flex-wrap: wrap;
  transition: 0.5s;
  transform: scaleX(1.5);
}

.menu > ul > li:hover > .dropDown > li {
  height: 40px;
}

.dropDown > li {
  height: 0;
  transition: 0.5s;
  transform: scaleX(0.75);
}

.dropDown > li > a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  padding-left: 10px;
  border-bottom: 1px solid black;
}

.dropDown > li > a:hover {
  background-color: gray;
}

/* End DropDown */
/* Start MegaMenu */
.menu > ul > li:hover > .megaMenu {
  opacity: 1;
  visibility: visible;
}

.megaMenu {
  width: 100%;
  background-color: white;
  position: absolute;
  top: 50px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  border-radius: 10px;
}

.megaMenu > li {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 40px;
}

.megaMenu > li > ul {
  width: 25%;
  margin: 10px;
}

.megaMenu > li > ul > li {
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}

.megaMenu > li > ul > li:hover {
  cursor: pointer;
}

.sub-mega-menu {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

/* End MegaMenu */
/* End Header */
/* Start apple-laptop */
.apple-laptop {
  margin-top: 50px;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: row;
}
.apple-laptop > .container {
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.apple-laptop > .container > .apple-img {
  width: 50%;
  height: 100%;
  border-radius: 10px;
}
.apple-laptop > .container > .apple-img > .container-apple {
  width: 90%;
  height: 40vh;
  margin: 50px auto;
}
.apple-laptop > .container > .apple-img > .container-apple > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.apple-laptop > .container > .apple-desc {
  width: 50%;
  height: 100%;
}
.apple-laptop > .container > .apple-desc > .container-apple {
  width: 90%;
  height: 40vh;
  margin: 50px auto;
}
.apple-laptop > .container > .apple-desc > .container-apple h2 {
  text-align: center;
  margin-top: 160px;
}
.apple-laptop > .container > .apple-desc > .container-apple p {
  text-align: center;
  margin-top: 10px;
}
.apple-laptop > .container > .apple-desc > .container-apple a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(66, 66, 231);
  width: 50%;
  height: 50px;
  margin: 10px auto;
  border-radius: 10px;
  transition: 0.5s;
}
.apple-laptop > .container > .apple-desc > .container-apple a:hover {
  background-color: rgb(66, 66, 231);
  color: white;
}

/* End apple-laptop */
/* Start brand-Products */
.brand-Products {
  margin-top: 200px;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: row;
}
.brand-Products > .container {
  height: 50vh;
  border-radius: 10px;
  background-image: url(/assets/images/laptop1.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.brand-Products > .container > .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.brand-Products > .container .brand-desc {
  width: 50%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  flex-direction: column;
  color: white;
}
.brand-Products > .container .brand-desc h2 {
  text-align: center;
  margin-top: 160px;
}
.brand-Products > .container .brand-desc p {
  text-align: center;
  margin-top: 10px;
}
.brand-Products > .container .brand-desc a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(66, 66, 231);
  width: 50%;
  height: 50px;
  margin: 10px auto;
  border-radius: 10px;
  transition: 0.5s;
}
.brand-Products > .container .brand-desc a:hover {
  background-color: rgb(66, 66, 231);
  color: white;
}

/* End brand-Products */
/* Start Product-List */
.Product-List {
  width: 100%;
  height: 55vh;
  margin-top: 300px;
}
.Product-List > .container-text {
  width: 300px;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Product-List > .container-text > hr {
  width: 300px;
  border: 1px solid black;
}
.Product-List > .container-text > h2 {
  margin-top: 100px;
}
.Product-List > .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.Product-List > .container > .card {
  width: 30%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: 2s;
}
.Product-List > .container > .card .card-item {
  width: 530px;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px auto;
}
.Product-List > .container > .card .card-item .card-img {
  width: 90%;
  height: 40vh;
  background-image: url(/assets/images/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  transition: 1s;
}
.Product-List > .container > .card .card-item .card-img:hover > .card-info-2 {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.5);
  width: 400px;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px auto;
  border-radius: 15px;
}
.Product-List > .container > .card .card-item .card-img > .card-info-2 {
  visibility: hidden;
  transition: 0.5s;
  color: white;
}
.Product-List > .container > .card .card-item a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(66, 66, 231);
  width: 50%;
  height: 50px;
  margin: 10px auto;
  border-radius: 10px;
  transition: 0.5s;
}
.Product-List > .container > .card .card-item a:hover {
  background-color: rgb(66, 66, 231);
  color: white;
}

/* End Product-List *//*# sourceMappingURL=style.css.map */